body {
  background: rgb(166, 116, 220);
  color: rgb(33, 7, 35);
  padding: 10px;
  font-family: arial;
}
#all-contents {
  max-width: 800px;
  margin: auto;
}
/* navigation menu */
nav {
  background: rgb(121, 55, 183);
  margin-bottom]\
 : 20px;
  display: flex;  
  padding: 10px;
}
h1 {
  display: flex;
  align-items: center;
  color: rgb(208, 167, 167);
  flex: 1;
  margin: 0;
}
#nav-ul {
  list-style-image: none;
}
.nav-li {
  display: inline-block;
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: #e1b8e4;
}
/* main container area beneath menu */
main {
  background: rgb(222, 147, 237);
  display: flex;
}
.sidebar {
  margin-right: 25px;
  padding: 10px;
}
.sidebar-img {
  width: 200px;
}
.content {
  flex: 1;
  padding: 15px;
}
/* portfolio styles */
#interests {
  border: 4px rgb(80, 15, 98) ridge;
  padding: 8px;
}
h2,
h3 {
  margin: 0px;
}
/* portfolio styles */
.content h1 {
    color: rgb(38, 14, 73);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #cfb3df;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #e2d9ea;
}

#portfolio a {
    text-decoration: none;
    color: #120224;
}