body {
  background: rgb(177, 141, 223);
  color: rgb(5, 2, 10);
  padding: 10px;
  font-family: arial;
}
#all-contents {
max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(54, 18, 101);
 margin: 0 auto;
 margin-bottom: 20px;
  display: flex;
  padding: 10px;
}
h1 {
  display: flex;
  align-items: center;
  color: rgb(22, 8, 46);
  flex: 1;
  margin: 0;
}
#nav-ul {
  list-style-image: none;
}
.nav-li {
  display: inline-block;
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: #cdbfe3;
}

/* main container area beneath menu */
main {
  background: rgb(65, 30, 112);
  display: flex;
}
.sidebar {
  margin-right: 25px;
  padding: 10px;
}
.sidebar-img {
  width: 200px;
}
.content {
  flex: 1;
  padding: 15px;
}

/* portfolio styles */
#interests {
  border: 4px rgb(13, 6, 36) ridge;
  padding: 8px;
}
h2, h3 {
  margin: 0px;
}

/* portfolio styles */
.content h1 {
    color: rgb(82, 37, 149);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #cfb3df;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #e2d9ea;
}

#portfolio a {
    text-decoration: none;
    color: #120224;
}